<body  class="bg-warning bg-gradient">
    <div class="container">
        <div class="row col-8 col-lg-5 m-auto mt-5 p-3 border border-primary border-4 bg-light-subtle rounded-3">
            <h2 class="rounded text-center text-white p-2  bg-primary bg-gradient">Sửa sản phẩm</h2>
            <form method="get" action="listPrs">
                <div class="mb-3">
                    <label for="exampleInputName" class="form-label">Tên sản phẩm:</label>
                    <input type="text" name="namePr" class="form-control" id="exampleInputName" value={{user.namePr}} required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPrice" class="form-label">Giá</label>
                    <input type="number" name="pricePr" class="form-control" id="exampleInputPrice" value={{user.price}} required>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Ảnh đại diện</label>
                    <input class="form-control" name="imgPr" type="file" id="formFile" value={{user.imgPr}}>
                </div>
                <div class="mb-3">
                    <label for="exampleInputColor" class="form-label">Màu sắc</label>
                    <input type="text" name="clPr" class="form-control" id="exampleInputColor" value={{user.color}}>
                </div>
                <div class="mb-3">
                    <label for="exampleInputType" class="form-label">Loại sản phẩm</label>
                    <input type="text" name="tPr" class="form-control" id="exampleInputType" value={{user.type}}>
                </div>
                <div class="mb-3">
                    <label for="exampleInputidKH" class="form-label">Mã khách hành</label>
                    <input type="text" name="idKHPr" class="form-control" id="exampleInputidKH" value={{user.idUser}}>
                </div>
                <input value={{index}} class="d-none" name="prNum">
                <div class="row">
                    <div class="col-6">
                        <a class="col-6" href="listPrs">Hủy</a>
                    </div>
                    <div class="col text-end">
                        <input type="submit" class="btn btn-primary" value="Xác nhận">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>